@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  background-image: linear-gradient( #4493d7, #2d61ee, #263461 );
}

ul {
  list-style-type: none;
  margin: 3px;
  padding: 2px;
  
}

li {
  display: inline;
  padding: 1px;
  margin-right: 10px;
  margin-top: 0px;
  
}

li:link {
  text-decoration: none;
}

li a:hover {
  color: #ffffff;
}

li a:visited {
  color: #ffffff;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.menuprincipal {
  position: fixed;
  width: 100%;
  background-color: black;
  padding-top: 5px;
  right: 0px;
  left: 0px;
  top: 0px;
  text-decoration: #fff;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 8px;
  font-size: 20px;
  text-align: right;
  }

.logo {
  border-radius: 25%;
}

.perfil {
  padding-top: 60px;
  margin: auto;
  text-align: center;
}

.avatarperfil {
  height: 300px;
  border-radius: 50%;
  padding-right: 5px;
  padding-top: 2px;
  border: 3px solid #070707
}

.nametop {
  font-size: 25px;
}

.cargo {
  font-size: 25px;
  font-weight: 500;
}

.namecurriculo {
  padding-top: 100px;
  font-weight: 700;
  font-size: 30px;
}

.textcurriculo{
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  color:#f3f3f3
}

.namesobre {
  margin-top: 100px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.textsobre {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  text-align: justify;
  margin-left: 25%;
  margin-right: 25%;
  color:#f3f3f3
}

.contato {
  text-align: center;
  margin-top: 100px;
}

.namecontato {
  font-weight: 700;
  font-size: 30px;
}

.linkcontato {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 25px;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.insta {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Trebuchet MS;
  font-size: 40px;
  font-weight: 100;
  padding: 15px;
  background-color: #3A529B;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 0 0 21px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.insta:hover {
  background: #1E62D0;
  border: solid #000000 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.namewhats {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Trebuchet MS;
  font-size: 40px;
  font-weight: 100;
  padding: 15px;
  background-color: #3A529B;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 0 0 21px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.namewhats:hover {
  background: #1E62D0;
  border: solid #000000 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}


.email {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Trebuchet MS;
  font-size: 40px;
  font-weight: 100;
  padding: 15px;
  background-color: #3A529B;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 0 0 21px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.email:hover {
  background: #1E62D0;
  border: solid #000000 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.dividerCustom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.line-custom {
  background-color: black;
  width: 100%;
  max-width: 150px;
  height: 3px;
  border-radius: 10px;
  padding-left: 10%;

}

.circle-custom {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;

}

.butoncontato {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Tahoma;
  font-size: 17px;
  font-weight: 800;
  padding: 7px;
  background-color: #000000;
  -webkit-box-shadow: 1px 1px 8px 0 #FFFFFF;
  -moz-box-shadow: 1px 1px 8px 0 #FFFFFF;
  box-shadow: 1px 1px 8px 0 #FFFFFF;
  text-shadow: 0 0 21px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.butoncontato:hover {
  background: #1E62D0;
  border: solid #000000 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.butonsobremim {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Tahoma;
  font-size: 17px;
  font-weight: 800;
  padding: 7px;
  background-color: #000000;
  -webkit-box-shadow: 1px 1px 8px 0 #FFFFFF;
  -moz-box-shadow: 1px 1px 8px 0 #FFFFFF;
  box-shadow: 1px 1px 8px 0 #FFFFFF;
  text-shadow: 0 0 21px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.butonsobremim:hover {
  background: #1E62D0;
  border: solid #000000 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.butoncurriculo {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Tahoma;
  font-size: 17px;
  font-weight: 800;
  padding: 7px;
  background-color: #000000;
  -webkit-box-shadow: 1px 1px 8px 0 #FFFFFF;
  -moz-box-shadow: 1px 1px 8px 0 #FFFFFF;
  box-shadow: 1px 1px 8px 0 #FFFFFF;
  text-shadow: 0 0 21px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.butoncurriculo:hover {
  background: #1E62D0;
  border: solid #000000 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}